.panel-elements {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    width: 100%;
}

.panel-elements.fit {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (max-width: 1720px) {
    .panel-elements {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .panel-elements.cut .announcement:nth-child(n+5) {
        display: none;
    }

    .panel-elements.fit {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media screen and (max-width: 1650px) {
    .panel-elements.fit {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 1450px) {
    .panel-elements {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .panel-elements.cut .announcement:nth-child(n+4) {
        display: none;
    }

    .panel-elements.fit {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 1100px) {
    .panel-elements {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .panel-elements.cut .announcement:nth-child(n+3) {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .panel-elements.fit {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media screen and (max-width: 740px) {
    .panel-elements {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .panel-elements.cut .announcement:nth-child(n+2) {
        display: none;
    }
}