main:has(.sidenav) {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}

.panel {
    width: 70%;
    padding: 30px;
    position: relative;
}

.panel>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.panel>form>div {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.panel>form section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.panel>form section>div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 300px;
}

.sidenav,
.sidenav>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.sidenav {
    padding: 15px;
    width: 30%;
    gap: 10px;
    position: relative;
    transition-duration: 300ms;
    z-index: 1;
}

.sidenav>div {
    width: 100%;
}

.sidenav>div>a:not(.main-button) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.sidenav>div>a:not(.main-button)>span {
    text-align: left;
    font-size: 1em;
}

.sidenav>div>a:not(.main-button).active {
    background: #F6F3FF;
}

.sidenav>div>span {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.sidenav>div>.main-button {
    width: 100%;
}

.sidenav .menu-button {
    display: none;
}

.nav-expander {
    position: absolute;
    display: none !important;
    right: -50px;
    top: 0px;
    z-index: 2;
    align-items: flex-end !important;
    box-shadow: 0px 3.5px 40px 0px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
}

.nav-expander .menu-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60px !important;
    height: 50px;
    user-select: none;
    cursor: pointer;
}

.nav-expander,
.nav-expander .menu-icon,
.nav-expander i {
    transition-duration: 200ms;
}

@media screen and (max-width: 850px) {
    main {
        background: none !important;
    }

    .panel {
        margin-top: 60px;
        width: 100%;
        background: none;
        box-shadow: none;
        padding: 5px;
        display: flex;
        justify-content: center;
    }

    .panel form {
        flex-direction: column;
    }

    .panel form>div {
        width: 100%;
        flex-direction: column-reverse;
    }

    .panel form>div>section {
        width: 100%;
        align-items: center;
    }

    .panel form>div>section>div {
        width: 100%;
    }

    .sidenav {
        transform: translateX(calc(-100% - 15px));
        position: absolute;
        width: calc(100% - 30px);
        left: 15px;
    }

    .nav-expander {
        display: flex !important;
    }

    .sidenav:has(#sidenav-button:checked) {
        transform: translateX(0);
        padding-top: 60px;
        z-index: 2;
    }

    .sidenav:not(:has(#sidenav-button:checked)) {
        box-shadow: none;
    }

    .sidenav:has(#sidenav-button:checked) .nav-expander {
        left: 0;
        top: 10px;
        box-shadow: none;
    }

    .sidenav:has(#sidenav-button:checked) .nav-expander label {
        width: 100% !important;
        justify-content: flex-start;
        padding: 20px;
    }

    .sidenav:has(#sidenav-button:checked) .nav-expander i {
        transform: rotate(180deg);
    }

    main:has(#sidenav-button:checked)>.panel {
        display: none;
    }

    body:has(#sidenav-button:checked) header {
        position: unset !important;
    }
}

@media screen and (max-width: 1100px) {
    main {
        padding: 15px 20px !important;
    }
}