

.announcement {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 3.75px 40.21px 0px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    cursor: pointer;
}

.announcement.loader {
    cursor: default;
}

a.announcement,
a.announcement div,
a.announcement span {
    text-decoration: none;
    color: inherit;
}

.announcement div.awaiting {
    width: 100%;
    background-color: #ebeb7f;
    display: flex;
    justify-content: center;
}

.announcement div.awaiting.warning {
    background-color: #ffc2c2;
}

.announcement div.awaiting span {
    text-align: center;
    font-size: 0.9em;
}

.announcement-data {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* height: 100%; */
}

.announcement>.announcement-image {
    display: flex;
    min-height: 151px;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: url("/public/images/1.jfif");
    background-size: cover;
    background-position: center;
}

.announcement.awaiting>.announcement-image,
.announcement.awaiting>.announcement-data {
    opacity: 0.4;
}

.announcement-user {
    margin-bottom: 10px;
}

.announcement-detail {
    text-transform: capitalize;
}

.announcement-data span {
    text-align: left;
}

.announcement-detail,
.announcement-user {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.announcement-detail .announcement-name,
.announcement-user .announcement-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.announcement-detail .announcement-name>div:first-child,
.announcement-user .announcement-name>div:first-child {
    color: #0D1B34;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    word-break: break-word;
}

.announcement-avatar {
    display: none;
    width: 58px;
    height: 58px;
    border-radius: 58px;
    background: url("/public/images/1.jfif");
    background-size: cover;
    background-position: center;
}

.announcement-price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

@media screen and (max-width: 500px) {
    .announcement-image {
        display: none !important;
    }

    .announcement-avatar {
        display: flex;
    }

    .announcement-price {
        flex-direction: column;
    }

    .announcement-detail,
    .announcement-user {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .announcement hr {
        display: none;
    }

    .announcement-price {
        align-items: flex-start;
    }
}