.sidenav.min {
    max-width: 300px;
    z-index: 51 !important;
    background: none;
    box-shadow: none;
    padding: 0px;
}

.announcements-page {
    transition-duration: 300ms;
    padding: 0px;
    min-height: 450px;
    background: none;
    box-shadow: none;
    position: relative;
    flex: 1;
}

.announcements-page #search {
    position: relative;
    width: 100%;
}

.announcements-container {
    width: 100%;
}

.announcements-container .panel-elements {
    position: relative;
    gap: 10px;
}

.announcements-page .api-output {
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.api-output.error {
    color: #ff3333;
}

@media screen and (max-width: 850px) {
    .sidenav.min {
        background: white;
        box-shadow: 0px 3.5px 40px 0px rgba(0, 0, 0, 0.08);
        padding: 20px;
        border-radius: 20px;
        max-width: 450px;
    }

    .sidenav.min>div {
        gap: 20px;
    }

    .announcements-page {
        width: 100%;
        display: flex !important;
    }

    main:has(#sidenav-button:checked)>.panel {
        display: block;
    }

    .panel-elements {
        gap: 10px !important;
    }
}