.panel-elements:has(.user) {
    gap: 10px;
}

.user {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 0.8em;
    box-shadow: 0px 3.75px 40.21px 0px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    background-color: white;
    position: relative;
}

.user.attached {
    padding: 0;
    font-size: inherit;
    box-shadow: none;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1;
}

.user-data>div:nth-child(2) {
    color: #0D1B34;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    word-break: break-word;
}

.user-info .avatar {
    width: 80px;
    height: 80px;
}